/* Base Styles */
body, h1, h2, h3, h4, h5, h6, p, a, button, input, select {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #1C4E80;
}

